<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="http://localhost:5000/css/style.css">
    <link rel="stylesheet" href="http://localhost:5000/css/bootstrap.min.css">
</head>
<body>
    <header>
        <nav class="bg-light">
            <ul class="link">
                <li class = 'link'><a href="/about-us">About</a></li>
                <li class = 'link'><a href="/experience">Experience</a></li>
                <li class = 'link'><a href="/Sign-up">Sign up</a></li>
            </ul>
        </nav>
    </header>

    <!-- working on the main content now -->
    <div class="container-fluid">
        <img src="http://localhost:5000/images/architecture.jpg" alt="...architecture" class="img-fluid">
    </div>

    <div class="heading">
        <h1>About Us</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum molestiae corporis dolorem beatae minus qui impedit commodi? Blanditiis reprehenderit, voluptas harum illo facere sapiente rem aut? Neque aperiam consequatur corrupti.
        </p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="http://localhost:5000/images/CMO.jpg" alt="...Chief Marketing Officer" class="img-fluid">
                <p>
                    <strong>Joseph O. Micheal</strong><br>
                    <span style="font-size: small;">Chief Marketing Officer</span>
                </p>
            </div>
    
            <div class="col-md-3">
                <img src="http://localhost:5000/images/product Manager.jpg" alt="...Product Manager" class="img-fluid">
                <p>
                    <strong>Rachael E. Igho</strong><br>
                    <span style="font-size: small;">Product Manager</span>
                </p>
            </div>
    
            <div class="col-md-3">
                <img src="http://localhost:5000/images/Chief Architect.jpg" alt="...Chief Architect" class="img-fluid">
                <p>
                    <strong>Morgan S. Adeleke</strong><br>
                    <span style="font-size: small;">Chief Architect</span>
                </p>
            </div>
    
            <div class="col-md-3">
                <img src="http://localhost:5000/images/CPD.jpg" alt="...Chief Product Designer" class="img-fluid">
                <p>
                    <strong>Sasha A. Chika</strong><br>
                    <span style="font-size: small;">Chief Product designer</span>
                </p>
            </div>
    </div>
    </div>
</body>
</html>