<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="http://localhost:5000/css/style.css">
    <link rel="stylesheet" href="http://localhost:5000/css/bootstrap.min.css">
</head>
<body>
    <header>
        <nav class="bg-light">
            <ul class="link">
                <li class = 'link'><a href="/about-us">About</a></li>
                <li class = 'link'><a href="/experience">Experience</a></li>
                <li class = 'link'><a href="/Sign-up">Sign up</a></li>
            </ul>
        </nav>
    </header>

    <div class="heading">
        <h1>Our Experience</h1>
        <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores quaerat repellendus modi nobis, molestias doloremque, qui, autem fuga error eligendi doloribus! Fugiat asperiores iure voluptatibus, enim maiores ex dolor expedita?
            Amet esse omnis inventore obcaecati, fugit id accusantium beatae. Obcaecati cupiditate, ut amet est vitae eligendi ea et quos debitis, totam, sequi quia quae quaerat veritatis quibusdam aspernatur quidem quas?
            Laboriosam rem praesentium ea cum fuga quae ab, iusto fugit perspiciatis quos ad accusantium doloribus perferendis labore sequi quibusdam nulla nam asperiores architecto error veniam non? Mollitia, deleniti sunt. Laudantium!
            Excepturi expedita fuga omnis, consequuntur at, cum quam earum numquam neque quis molestiae laboriosam assumenda doloribus tempora sapiente optio eligendi animi. Tempore quae nulla beatae cumque accusamus quisquam quos ab.
            Optio, voluptatum vitae molestias reprehenderit, sed illum ducimus aspernatur nisi expedita adipisci ullam laboriosam fugiat placeat! Eius veritatis, pariatur iusto voluptatum, quibusdam dolorum quasi minima asperiores ratione, eos iste suscipit!
        </p>
    </div>


</body>
</html>    